* {
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
  }
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background: #232323;
    color: #cdcdcd;
    font-size: medium;
    font-family: "Avenir Next", "Avenir", sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  header {
    position: fixed;
    text-align: center;
    background-color: rgb(26, 94, 126);
    padding: 10px;
    top: 0px;
    width: 100%;
  }
  footer {
    background-color: rgb(26, 94, 126);
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 1;
    padding: 1rem;
    text-align: center;
  }
  a {
    color: white;
    font-size: large;
  }
  
  .menu-left ul li {
    padding-top: 0.8em;
    display: inline;
    vertical-align: text-top;
    width: 5%;
  }
  
  p {
    text-align: block;
    margin-left: 15em;
    font-size: large;
  }
  
  .nadpis {
    cursor: pointer;
  }
  .nadpis:active {
    transform: scale(1, 0.9);
    color: #232323;
    transition: transform 0.2s color 0.2s;
  }

  