* {
  margin: 0;
  padding: 0;
}
html {
  height: 90%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background: #232323;
  color: #cdcdcd;
  font-size: medium;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
  position: fixed;
  text-align: center;
  background-color: rgb(26, 126, 26);
  padding: 10px;
  top: 0px;
  width: 100%;
}
footer {
  background-color: rgb(26, 126, 26);
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 1;
  padding: 1rem;
  text-align: center;
}
a {
  color: white;
  font-size: large;
}

.menu-left ul li {
  padding-top: 0.8em;
  display: inline;
  vertical-align: text-top;
  width: 5%;
}

h2 {
  padding-top: 3em;
  text-align: center;
}
p {
  text-align: block;
  margin-left: 4em;
  margin-right: 4em;
}

.nadpis {
  cursor: pointer;
}
.nadpis:active {
  transform: scale(1, 0.9);
  color: #232323;
  transition: transform 0.2s color 0.2s;
}
.left,
.right {
  background-color: #333131;
  color: white;
  display: inline-block;
  cursor: pointer;
  height: 630px;
  width: 30px;
}
.ba {
  width: 50%;
  height: 70%;
  margin: 3;
  border-style: inset;
  border-color: white;
}
.mike,
canvas {
  max-width: 50%;
  max-width: 80%;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-color: white;
}
.x {
  color: transparent;
}
canvas {
  margin-top: 300px;
}
.down {
  margin-left: 2em;
  margin-top: 300px;
}
