body {
    background: linear-gradient(-45deg, #1861c0, #a1bddd, #1b8fb9, #2b92d6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

    
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}
h2 {
    color:rgb(255, 255, 255);
}
p {
  
  color: rgb(255, 255, 255);
  text-align: center;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
header {
    width: 100%;
    display: center;
	padding-bottom: 25px;
	flex-direction: column;
    }
img {
    height: 640px;
    width: 1080px;
    border-style: inset;
    border-color: white;
}
button {
    color: rgb(0, 0, 0);
}
address {
    color:rgb(255, 255, 255);
    text-align: center;
}